.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor-generated {
  border-right: 1px solid black;
}

.editor-source {
  border-left: 1px solid black;
}

.file-list {
  padding-left: 0;
  list-style-type: none;
}

.file-list-entry {
  display: flex;
  border: 1px solid #dddddd;
  margin: 3px;
  padding: 5px;
}

.file-list-entry-inner {
  flex-grow: 1;
}

.file-list-remove {
  float: right;
  margin: 1px;
}
