.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor-generated {
  border-right: 1px solid black;
}

.editor-source {
  border-left: 1px solid black;
}

.file-list {
  padding-left: 0;
  list-style-type: none;
}

.file-list-entry {
  border: 1px solid #dddddd;
  margin: 3px;
  padding: 3px;
}
.file-list-entry:after {
  clear: right;
}

.file-list-remove {
  float: right;
}
