.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor-generated {
  border-right: 1px solid black;
}

.editor-source {
  border-left: 1px solid black;
}

.file-list {
  padding-left: 0;
  list-style-type: none;
}

.file-list-entry {
  border: 1px solid #dddddd;
  margin: 3px;
  min-height: 34px;
}
.file-list-entry.selected {
  background-color: #eeeeee;
}

.file-list-entry > button {
  display: flex;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  appearance: none;
  text-rendering: auto;
  color: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-transform: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  text-align: inherit;
  align-items: inherit;
  margin: 0;
  font: inherit;
  background: none;
  border: 0;
}

.file-list-entry-inner {
  flex-grow: 1;
}

.file-list-remove {
  margin: 1px;
}

.file-list-add-button {
  /* for vertical align */
  display: flex;
  align-items: center;

  border: 1px solid #dddddd;
  margin: 3px;
  min-height: 34px;

  padding: 0 5px;
}

pre.generated-file-content {
  white-space: pre-wrap;
  word-break: break-all;
}

.segment-unmapped {
  border: 1px solid white;
}
.segment-mapped {
  border: 1px solid white;
  background: #eeffff;
}
.segment-mapped:nth-child(even) {
  background: #ffeeff;
}
.segment-mapped:hover {
  border: 1px solid #cccccc;
}
